* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: deepskyblue;
    font-size: 16px;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
}

header {
    width: 80%;
    margin: auto;
}

.nav_main {
    background-color: black;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5%;
    padding: 1%;
}

.nav_logo {
    width: 2%;
}

.buttons {
    display: flex;
}

.buttons li {
    padding: 5%;
}

.nav_main form {
    padding: 0.5%;
}

.buttons li:hover {
    border-top: 2px solid white;
}